{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="hero is-primary is-medium is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {% include 'navbar.html' %}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
    	<div class="content">
      <h1 class="title">
        Welcome to Daniel Corcoran's Poll App
      </h1>
      <p class="">
        This application was built using Django and Python in Ubuntu OS. The official Django documentation was used as a starting point, and from that base I adapted the application with more features.
      </p>
      <a href="{% url 'polls-list' %}" class="button is-dark">Show me the polls</a>
      </div>
    </div>
  </div>

    </nav>
  </div>
</section>

<section class="section">
	<section class="container">
		
		<article class="columns is-vcentered">
			<div class="column">
			    <img src="{% static 'undraw_questions_75e0.png' %}" alt="">
			</div>
			<div class="column">
				<div class="content">
				<h1>Create and explore polls</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat consequuntur, tenetur quos non praesentium ut, architecto ducimus vero sed ipsa saepe nesciunt id fugit magnam doloribus nostrum expedita temporibus. Velit.</p>
			  </div>
			</div>
		</article>

		<article class="columns is-vcentered">
				
				<div class="column">
					<div class="content">
					<h1>Create voting options and vote</h1>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat consequuntur, tenetur quos non praesentium ut, architecto ducimus vero sed ipsa saepe nesciunt id fugit magnam doloribus nostrum expedita temporibus. Velit.</p>
					</div>
				</div>

				<div class="column">
						<img src="{% static 'undraw_note_list_etto.png' %}" alt="">
				</div>
			</article>

			<article class="columns is-vcentered">
					<div class="column">
							<img src="{% static 'undraw_visual_data_b1wx.png' %}" alt="">
					</div>
					<div class="column">
						<div class="content">
						<h1>Visualize poll results seamlessly</h1>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat consequuntur, tenetur quos non praesentium ut, architecto ducimus vero sed ipsa saepe nesciunt id fugit magnam doloribus nostrum expedita temporibus. Velit.</p>
						</div>
					</div>
				</article>

		<section class="content">

			

			<h3>Concepts</h3>
			<p>Below are the concepts covered in building the polling application</p>
			<ul>
			<li>Python virtual environments</li>
			<li>Django project configuration</li>
			<li>Django administration</li>
			<li>Dynamic routing</li>
			<li>Template engines</li>
			<li>HTTP/HTTPS methods</li>
			<li>Relational databases</li>
			<li>CRUD operations</li>
			<li>ORM models</li>
			<li>Django deployment to the Cloud</li>
			<li>Responsive web design</li>
			<li>Application security</li>
</ul>


			<h3>Deployment</h3>
			<p>This project is currently being hosted on Pythonanywhere.</p>
			<p><a class="button is-primary is-outlined" href="https://www.pythonanywhere.com/">Visit Pythonanywhere</a></p>
		</section>
	</section>


</section>

{% endblock content %}
