{% extends 'base.html' %}

{% block content %}

<section class="section">
	<section class="container">
		
		<section class="content">
			<h1>Welcome to Daniels Poll App</h1>

			<p>This application was built using Django 2.2 and Python 3.7 in Ubuntu 19.04. I followed the official Django documentation and made some adaptations along the way. I plan to further improve my web development knowledge and refining my ablities in Django..</p>

			<a href="{% url 'polls-list' %}" class="button is-primary is-outlined">Take me to the questions list</a>

			<h3>Concepts</h3>
			<p>Below are the concepts covered in building the polling application</p>
			<ul>
				<li>Creating and using virtual environments</li>
				<li>Django settings configuration</li>
				<li>Dynamic routing</li>
				<li>Custom templates</li>
				<li>Using the Django Admin Panel to update, create, delete records</li>
				<li>Posting Forms</li>
				<li>Creating ORM models and creating database tables from them</li>
				<li>Querying database using Django ORM models</li>
				<li>Deploying Django Application to Cloud Infrastructure as a service (Pythonanywhere)</li>
			</ul>
			<h3>Features</h3>
			<p>This application allows users to:</p>
			<ul>
				<li>Create questions</li>
				<li>Create choices for questions</li>
				<li>Vote for a given question based on question id</li>
				<li>View results for a given question based on question id</li>
				<li>View complete list of user submitted questions</li>
			</ul>

			<h3>Deployment</h3>
			<p>This project is currently being hosted on Pythonanywhere.</p>
			<p><a class="button is-primary is-outlined" href="https://www.pythonanywhere.com/">Visit Pythonanywhere</a></p>

			<h3>Source Code</h3>
			<p>The source code for this project is currently hosted on my public Github account. You can download/view it here.
			<p><a class="button is-primary is-outlined" href="https://github.com/danielc92/django-docs-tutorial.git">View Source Code</a></p>
		</section>
	</section>


</section>

{% endblock content %}