{% extends 'base.html' %}

{% block content %}
<section class="hero is-dark is-bold">
	{% include 'navbar.html' %}
</section>

<section class="section" style="min-height: 100vh; background-color: #eee;">
	<section class="container">
		<section class="notification is-white">
            <div class="content">
                <h1>{{poll.title}}</h1>
                <p>by: {{poll.author}}</p>
                <p class="help has-text-grey">Modified on: {{poll.modified_at}}</p>
                <p> 
                    {% for tag in poll.tags.all %}
                    <span class="tag is-medium is-light">{{ tag }}</span>
                    {% endfor %} 
                </p>
            </div>  
</section>

<section class="notification is-white">
        <div class="content">
                <h1>Vote</h1>
                <table class="table is-hoverable">
                    <thead>
                        <tr>
            
                            <th>Option</th>
                            <th>Votes</th>
                            <th>Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for option in poll.options.all %}
                        <tr>
                  
                            <td>{{ option.text}}</td>
                            <td>{{ option.votes}}</td>
                            <td>
                                <a href="{% url 'polls-vote' option.id %}" class="button is-small is-outlined is-primary">Vote for this option</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
</section>
<section class="notification is-white">
    <div class="content">
            <h1>Results</h1>
            <canvas id="myChart" width="400" height="300" style="max-width: 90%;"></canvas>
    </div>
</section>  
</section>
</section>
<script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: {{ names | safe}},
                datasets: [{
                    label: '# of Votes',
                    data: {{ votes | safe}},
                    backgroundColor: '#3CC4A6',
                    borderColor: '#000',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 10
                        }
                    }]
                }
            }
        });
        </script>
{% endblock %}