{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary is-bold">
	{% include 'navbar.html' %}
</section>

<section class="section" style="background-color: #eee;">
	<section class="container">
		<section class="content">
			<h2>Poll List</h2>

			{% for q in data %}
				<div class="notification is-white" style="border-radius: 0; box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;">
					<div class="columns">
						<div class="column">
							<h2>{{ q.title }}</h2>
							<p>Created by <strong>{{ q.author }}</strong></p>
							<p>This poll has <strong>{{ q.options.count }}</strong> available choices.</p>
							<p>
								{% for tag in q.tags.all %}
									<span class="tag is-dark">{{ tag }}</span>
								{% endfor %}
							</p>
					</div>
						<div class="column is-two-fifths">
							<div class="buttons">
								<a class="button is-primary is-outlined is-fullwidth" href="{% url 'poll-detail' q.id  %}">Detail view</a>
							</div>

							<p class="has-text-grey help">Created on: {{ q.created_at }}</p>
						</div>
					</div>
				</div>
			{% endfor %}

			{% if data.has_previous %}
			<a class="button is-outlined is-primary" href="?page={{ data.previous_page_number }}">Previous Page</a>
			{% endif %}

			{% if data.has_next %}
			<a class="button is-outlined is-primary" href="?page={{ data.next_page_number }}">Next Page</a>
			{% endif %}

		</section>
	</section>
</section>

{% endblock %}