{% extends 'base.html' %}


{% block content %}

<section class="hero is-primary is-bold">
	{% include 'navbar.html' %}
</section>

<section class="section">
	<section class="container">
		<section class="content">
			<h2>Poll List</h2>

			{% for q in data %}
				<div class="notification is-light">
					<div class="columns">
						<div class="column">
							<h2>{{ q.question_text }}</h2>
							<p>Created by <strong>{{ q.author }}</strong></p>
							<p>This poll has <strong>{{ q.choice_set.all.count }}</strong> available choices.</p>
						
						<p><span class="tag is-dark">{{ q.category }}</p>

					</div>
						<div class="column">
							<div class="buttons">
								<a class="button is-link is-outlined" href="{% url 'polls-create-choice' q.id  %}">Add choices for this poll</a>
								<a class="button is-link is-outlined" href="{% url 'polls-vote' q.id  %}">Vote for this poll</a>
								<a class="button is-link is-outlined" href="{% url 'polls-results' q.id  %}">Show poll results</a>
							</div>

							<p class="has-text-grey help">Created on: {{ q.pub_date }}</p>
						</div>
					</div>
				</div>
			{% endfor %}

			{% if data.has_previous %}
			<a class="button is-outlined is-primary" href="?page={{ data.previous_page_number }}">Previous Page</a>
			{% endif %}

			{% if data.has_next %}
			<a class="button is-outlined is-primary" href="?page={{ data.next_page_number }}">Next Page</a>
			{% endif %}

		</section>
	</section>
</section>

{% endblock %}