{% extends 'base.html' %}


{% block content %}

<section class="section">
	<section class="container">
		<section class="content">
			<h2>Questions List</h2>

			{% for q in data %}
				<div class="notification is-light">
					<h3>{{ q.question_text }}</h3>
					<p>This question has <strong>{{ q.choice_set.all.count }}</strong> 
					available choices.</p>
					<p class="">{{ q.pub_date}}</p>
					<div class="buttons">
						<a class="button is-link is-outlined" href="{% url 'polls-create-choice' q.id  %}">Add choices for this question!</a>
						<a class="button is-primary is-outlined" href="{% url 'polls-vote' q.id  %}">Vote for this question!</a>
					</div>
				</div>
			{% endfor %}

		</section>
	</section>
</section>

{% endblock %}